<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

    <script src="/static/js/payment.js" defer></script>

    <title>Codecool Shop - Payment</title>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body" align="center">
                    <h2>Select Payment Method</h2>
                    <div class="row">
                        <div class="col pay-pal" align="center">
                            <button style="font-size:24px"><i class="fa fa-paypal"></i></button>
                            <br>
                            <p>Paypal</p>
                        </div>
                        <div class="col credit-card" align="center">
                            <button style="font-size:24px"><i class="fa fa-credit-card"></i></button>
                            <br>
                            <p>Credit Card</p>
                        </div>
                    </div>
                    <div class="row" id="paymentMethod">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<template id="paymentPayPal">
    <div class="col" align="center">
        <div class="card">
            <div class="card-body">
                <form action="/payment" method="post">
                    <h2>PayPal</h2><br>
                    <p>User name</p>
                    <input type="text" name="userName"><br>
                    <br>
                    <p>Password</p>
                    <input type="password" name="psw"><br>
                    <br>
                    <button style="font-size:12px" id="sub">Submit</button>
                    <br>
                    <br><input id="checkBox" type="checkbox">
                    <p STYLE="font-size: small">By checking this box, I agree to the Terms & Conditions & Privacy
                        Policy.</p>
                </form>
            </div>
        </div>
    </div>
</template>
<template id="paymentCard">
    <div class="col" align="center">
        <div class="card">
            <div class="card-body">
                <form action="/payment" method="post">
                    <h2>Credit card info</h2><br>
                    <p>Name on card</p>
                    <input type="text" name="name"><br>
                    <br>
                    <p>Card number</p>
                    <input type="text" name="card" value="0000-0000-0000-0000"><br>
                    <div class="col-6">
                        <br>
                        <p>Expiration</p>
                        <input type="text" name="month" maxlength="2" size="4" value="1999">
                        <input type="text" name="year" maxlength="4" size="4" value="01"><br>
                        <div class="col-6">
                            <br>
                            <p style="font-size: small">CVV number</p>
                            <input type="password" name="cvv" maxlength="3" size="4" id="cvv">

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <button style="font-size:12px" id="sub">Submit</button>
        <br>
        <br><input id="checkBox" type="checkbox">
        <p STYLE="font-size: small">By checking this box, I agree to the Terms & Conditions & Privacy Policy.</p>
    </div>
</template>
</html>